<ion-content>
  <ion-searchbar (ionInput)="getSearchResult($event)"></ion-searchbar>
  
  <ion-card class="moreCls" >
		<ion-item (click)="openSearchResult(searchData.options)">
      <ion-label>
        <h2 class="enrollUser">BBA</h2>
        <p class="entrollData"><span class="entrollText">University:</span> <span class="entrollName"> NMU </span></p>
        <p class="entrollData"><span class="entrollText">Fees:</span> <span class="entrollName"> 7800 </span></p>        
      </ion-label>
		</ion-item>
	</ion-card>

  <ion-card class="moreCls" >
		<ion-item (click)="openSearchResult(searchData.options)">
      <ion-label>
        <h2 class="enrollUser">BBA</h2>
        <p class="entrollData"><span class="entrollText">University:</span> <span class="entrollName"> NMU </span></p>
        <p class="entrollData"><span class="entrollText">Fees:</span> <span class="entrollName"> 7800 </span></p>        
      </ion-label>
		</ion-item>
	</ion-card>

  <ion-card class="moreCls" >
		<ion-item (click)="openSearchResult(searchData.options)">
      <ion-label>
        <h2 class="enrollUser">BBA</h2>
        <p class="entrollData"><span class="entrollText">University:</span> <span class="entrollName"> NMU </span></p>
        <p class="entrollData"><span class="entrollText">Fees:</span> <span class="entrollName"> 7800 </span></p>        
      </ion-label>
		</ion-item>
	</ion-card>

  


</ion-content>
