<ion-tabs>  
  <ion-tab-bar slot="top">
    <ion-toolbar class="topBand">
        <!-- <ion-button slot="start">
          <ion-menu-button class="menuBtnCSS_1"></ion-menu-button>
        </ion-button> -->
        <ion-title style="letter-spacing: 1px;">
          <b>COMMERCE.COM</b>        
        </ion-title>     
        <!-- <ion-button slot="end" fill="clear" (click)="filterPopover($event)">        
          <ion-icon class="eclipsCSS menuBtnCSS_1" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button> -->
    </ion-toolbar>
  </ion-tab-bar>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" class="bottomBtn">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="members" class="bottomBtn bottomMiddleBtn">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Members</ion-label>
    </ion-tab-button>
  
    <ion-tab-button tab="my-group" class="bottomBtn bottomMiddleBtn">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>My Groups</ion-label>
    </ion-tab-button>  -->

    <ion-tab-button tab="more" class="bottomBtn bottomMiddleBtn">
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
