<ion-content>
	<ion-searchbar (ionInput)="getSearchResult($event)"></ion-searchbar>
	<div class="searchListData">
		<ion-slides pager class="searchSlides"
	        [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }" >
	        <ion-slide *ngFor="let card of searchlist" class="memberSearchCls">
	          	<ion-col>
	            	<div>
                  <a (click)="openSearchPage(card.title)">
                    <ion-icon class="searchIcon" [name]="card.icon"></ion-icon>
                  </a>
						      <div class="searchText">
	                		{{card.title}} 
	              		</div>
	            	</div>
	            </ion-col>
	        </ion-slide>
	  </ion-slides>
  </div>
  
  <ion-card >
    <ion-item (click)="openPage(data.ID)" >
      <ion-avatar slot="start">
        <img src="./assets/default/user.png">
      </ion-avatar>
      <ion-label>
        <h2 class="enrollUser">Suyog Bhavsar</h2>
        <p class="entrollData"><span class="entrollText">Enroll By:</span> <span class="entrollName"> Seema Vaidya </span></p>
        <p class="entrollData"><span class="entrollText">University:</span> <span class="entrollName"> APJ </span></p>
        <p class="entrollData"><span class="entrollText">Course:</span> <span class="entrollName"> BBA </span></p>
        <p class="entrollData"><span class="entrollText">Pending Amount:</span> <span class="entrollName"> 4500 </span></p>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card >
    <ion-item (click)="openPage(data.ID)" >
      <ion-avatar slot="start">
        <img src="./assets/default/user.png">
      </ion-avatar>
      <ion-label>
        <h2 class="enrollUser">Shoiab</h2>
        <p class="entrollData"><span class="entrollText">Enroll By:</span> <span class="entrollName"> Seema Vaidya </span></p>
        <p class="entrollData"><span class="entrollText">University:</span> <span class="entrollName"> APJ </span></p>
        <p class="entrollData"><span class="entrollText">Course:</span> <span class="entrollName"> B.Com </span></p>
        <p class="entrollData"><span class="entrollText">Pending Amount:</span> <span class="entrollName"> 7500 </span></p>
      </ion-label>
    </ion-item>
  </ion-card>
  
  
	<!-- <ion-card *ngFor="let data of memberlist_data">
		<ion-item (click)="openPage(data.ID)" >
			<ion-avatar slot="start">
				<img [src]="data.profile_image">
			</ion-avatar>
			<ion-label>
        <h2>{{data.name}}</h2>
        <p>{{data.education_summary.education}} {{data.year_of_passout}}</p>
			</ion-label>
		</ion-item>
	</ion-card> -->

  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button color="primary" routerDirection="forward" routerLink="/student-add">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
	
</ion-content>
